body {
    cursor: auto;
    margin:0px;
    overflow: hidden;
    background-color: rgb(40,40,40);
    font-family: monospace;
    user-select: none;

}

::-webkit-scrollbar { 
    display: none; 
}

#title {
    -webkit-app-region:drag;
    cursor: pointer;
    color: white;
    line-height: 20px;
}

#titlebar {
    display: grid;
    grid-template-columns: auto 50px 30px 30px;
    height: 20px;
    overflow: hidden;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
    background-color: rgb(60,60,60);
    -webkit-user-select: none;
    line-height: 20px;
}

#titlebar div {
    padding-left: 10px;
    padding-right: 5px;
}

#minBtn:hover {
    background-color: rgb(80,80,80);
}

#closeBtn:hover {
    background-color: #ff2222;
}


#login {
    z-index: 0;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input {
    background-color: rgb(80,80,80);
    color: white;
    border: none;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#loginButton {
    color: white;
    background-color: rgb(60,60,60);
    padding: 5px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}

#loggedIn {
    position: fixed;
    top: 20px;
    left: 0px;
    width: 100%;
    text-align: center;
    z-index: 1;
    height: 63px;
    line-height: 63px;
    background-color: rgba(0,0,0,.4);
    color: white;
    cursor: default;
    font-size: 1.5em;
}


#changelog {
    margin-top: 20px;
    padding: 10px;
    color: white;
    overflow: scroll;
    height: 420px;
    border-bottom: 4px solid rgb(60,60,60);
}

#changelogTitle {
    text-align: center;
    font-size: 2em;
    font-family: Impact;
}

#runButton {
    z-index: 1;
    position: fixed;
    bottom: 10px;
    left: 0px;
    width: 100%;
}

#selectButtons {
    display: grid;
    grid-template-columns: 200px 30px;
    margin-left: 97.5px;
}

#play {
    padding-top:5px;
    height: 45px;
    background-color: rgb(0,150,0);
    font-size: 1.4em;
    text-align: center;
    color: white;
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
}

#vernum {
    font-size: .6em;
}

#play:hover {
    background-color: rgb(0,100,0);
}

#inject {
    font-family: Impact;
}

#version {
    height: 50px;
    background-color: rgb(0,150,0);
    font-size: 2em;
    line-height: 50px;
    text-align: center;
    color: white;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 5px;
}


#version:hover {
    background-color: rgb(0,100,0);
}

#versionSelect {
    width: 230px;
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 95.5px;
    background-color: rgb(0,150,0);
    overflow: scroll;
    transition: max-height .25s linear;
    border: 2px solid rgb(60,60,60);
}

#arrow {
    transition: transform .25s linear;
}

.versionBtn {
    font-family: Impact;
    background-color: rgb(0,150,0);
    border-bottom: 2px solid rgb(0,100,0);
    font-size: 2em;
    color: white;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.versionBtn:hover {
    background-color: rgb(0,100,0);
}